* {
    margin: 0;
    padding: 0;
}

.sign-up-form {
    width: 950px;
    height: 100vh;
    background: #fff;
    box-shadow: 0 0 3px rgb(0, 0, 0, 0.3);
    padding-top: 1%;
    margin: 8% auto 0;



}

button {
    width: 350px;
    height: 60px;
    border-radius: 35px;
    background-color: #9333EA;
    color: #fff;
    font-size: 25px;

}

input {
    width: 350px;
    height: 35px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 2px;
    display: inline-block;
}